.links {
  display: flex;
  justify-content: space-around;
  a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
  }
  :global {
    a.active {
      text-decoration: underline;
    }
  }
}
